  <nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                 <a href="{{ url_for('main.index') }}" class="b-brand">
                    <img src=" {{ url_for('static', filename='frontend/images/logo1.png') }}" width="200" height="75" class="logo logo-lg" />
                </a>
            </div>
            <div class="navbar-content">


                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-caption">
                        <label>Navigation</label>
                    </li>

                    {% if current_user.is_authenticated %}
                   

                    <!-- ================= ADMIN ================= -->
                     {% if current_user.role in ['superadmin','admin'] %}
                        <li class="nxl-item nxl-hasmenu">
                            <a href="{{ url_for('main.dashboard') }}" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-airplay"></i></span>
                                <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"></span>
                            </a>
                        
                        </li>

                         <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-users"></i></span>
                                <span class="nxl-mtext">Manage Users</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.all_users') }}">All Users</a></li>
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_user') }}">Add New User </a></li>
                            </ul>
                        </li>

                        <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-cast"></i></span>
                                <span class="nxl-mtext">Categories</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.all_categories') }}">All Categories</a></li>
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_category') }}">Add Category </a></li>
                            </ul>
                        </li>

                        <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-cast"></i></span>
                                <span class="nxl-mtext">Products</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.all_products') }}">All Products</a></li>
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_product') }}">Add Product </a></li>
                            </ul>
                        </li>

                        <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-cast"></i></span>
                                <span class="nxl-mtext">Orders</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.all_orders') }}">All Orders</a></li>
                                <li class="nxl-item"><a class="nxl-link" href="{{ url_for('main.add_order') }}">Add Order </a></li>
                            </ul>
                        </li>

                       


                     {% elif current_user.role in ['user'] %}
                        <!-- ================= USER ================= -->
                     

                    {% elif current_user.role in 'customer' %}
                  
                    {% endif %}

                {% else %}
                <!-- NOT LOGGED IN -->
                    <li class="nxl-item">
                        <a href="{{ url_for('main.login') }}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-log-in"></i></span>
                            <span class="nxl-mtext">Login</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
              
            </div>
        </div>
    </nav>